@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SBAggroB';
}

.title {
  margin: 20px 0 ;
}

.inner {
  width: 1000px;
  margin: 0 auto;
  font-family: 'SBAggroB'
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: re;
}

.link {
  width: 300px;
  border: 3px solid rgb(60, 129, 220);
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

 a {
  text-decoration: none;
  color: rgb(55, 83, 208);
}


