@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SBAggroB';
}

.contents .title {
  margin: 20px 0;
  text-align: center;
}

.inner {
  width: 1000px;
  margin: 0 auto;
  font-family: 'SBAggroB'
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.link {
  width: 300px;
  border: 3px solid rgb(60, 129, 220);
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  transition: .2s;
}

.link:hover {
background-color: royalblue;
color: white;
}

a {
  text-decoration: none;
  color: rgb(55, 83, 208);
}

.well_kids_link .logo {
  margin-left: 15px;

}

.jh_link .logo {
  margin-left: 110px;

}

.techpia_link .logo {
  margin-left: 55px;
}

.well_kids_link .logo {}

.kind_coffee_link .logo {
  margin-left: 88px;

}

.Lesis_link .logo {
  margin-left: 70px;

}
.memo {
}
.memo_img {
  position: relative;
  margin-bottom: 30px;
  z-index: 0;
}

.memo ul {
position: absolute;
top: 123px;  
left: 310px;
}

.memo ul li {
  margin-bottom: 39px;
  font-size: 14px;
}


.memo span {
  position: absolute;
  right: 220px;
  top: 92px;
  font-size: 14px;
  color: green;
}
