@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.thumb img {
  display: none;
}

* {
  font-family: 'SBAggroB';
}

.inner {
  width: 1200px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: royalblue;
}

.logo_box {
  margin-top: 10px;
}

.left_box:hover,
.right_box:hover {
  background-color: royalblue;
  color: white;

}

.left_box,
.right_box {
  margin: 0px 10px;
  box-sizing: border-box;
  border: 5px solid white;
  padding: 20px;
  transition: .2s;
  border-radius: 10px;
}

.left_box_c,
.right_box_c {
  margin: 0px 10px;
  border: 5px solid royalblue;
  box-sizing: border-box;
  padding: 20px;
  transition: .2s;
  border-radius: 10px;
}

.left_box_c:hover,
.right_box_c:hover {
  background-color: royalblue;
  color: white;

}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_box {
  margin-top: 40px;
  display: flex;
}
  .left {
    margin-top: 50px;
    display: flex;
  }

  .right {
    margin-top: 60px;
    display: flex;
  }


/* 호두 링크  */

/* 메모장 */

.memo {
  height: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  border: 2px solid royalblue;
  border-radius: 20px;
  
}

.memo .text_box1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_box1 p {
  margin: 12px 0;
}

.title {
  text-align: center;
  padding: 5px 0;
}
