/* 에스코어 시작  */

/* 에스코어 4 레귤러 */
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 에스코어 5 미들 */
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 에스코어 6 볼드 */
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 공통 부분 시작 */

.inner {
  font-family: 'S-CoreDream-5Medium';
  font-size: 18px;
  width: 1200px;
  margin: 0 auto;
  color: #111111;
}

.wrap {
  font-family: 'S-CoreDream-5Medium';
  font-size: 18px;
  width: 1900px;
  margin: 0 auto;
}

.title {
  font-family: 'S-CoreDream-4Regular';
  font-size: 45px;
}

.title_p {
  font-family: 'S-CoreDream-7ExtraBold';
  font-size: 45px;
}

a {
  text-decoration: none;
}

/* 공통 부분 끝 */

/* 헤더 + 네비 시작 */

header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a img {}

header a ul {
  height: 100px;
}

header ul li {
  display: inline-block;
}

header ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #111111;
}

header ul li:not(:first-child) {
  margin-left: 75px;
}

header .nav_box a {
  background-color: #231F20;
  padding: 6px 36px;
  color: white;
  border-radius: 15px;
  font-size: 14px;
  text-decoration: none;
}

/* 헤더 + 네비 끝 */

/* 메인 시작 */



/* 메인 끝 */


/* art1 시작 */

.art1 {
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.art1 .title {
  margin-top: 50px;
}

.art1 .container {
  display: flex;
  text-align: center;
  margin-bottom: 50px;
}

.art1 li:first-child {
  margin-top: 50px;
}

.art1 li:last-child {
  font-size: 14px;
  color: #58595B;
  margin-top: 13px;
}

/* art1 끝 */



/* art2 시작 */

.art2 {
  position: relative;
}


.art2_btn_group {
  position: absolute;
  display: flex;
  bottom: 150px;
  right: 497px;
}

.btn_fbrown {
  width: 160px;
  height: 50px;
  background-color: #6F4424;
  color: white;
  font-family: 'S-CoreDream-6Bold';
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_nbrown {

  width: 160px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #6F4424;
  color: #6F4424;
  font-family: 'S-CoreDream-6Bold';
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;

}

/* art2 끝 */


section {
  box-sizing: border-box;
  padding-top: 50px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(../images/section_bgimg.png);
  flex-direction: column;
  position: relative;
  background-color: #F5F5F5;
  z-index: 2;
}

section .title {
  padding-bottom: 65px;
}

section #player {
  position: relative;
  z-index: 2;
}

section .obj1>img {
  position: absolute;
  left: 401px;
  top: 50px;
  z-index: 1;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moving {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

section .obj2>img {
  position: absolute;
  right: 239px;
  bottom: 153px;
  z-index: 1;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

section .obj3>img {
  position: absolute;
  left: 200px;
  bottom: -50px;
  z-index: 1;
  animation-name: obj3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes obj3 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}



/* art3 시작 */

.art3 {
  height: 1210px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.art3_lbox3 {
  position: relative;
  margin-top: -2px;
}


.art3_lbox3 span a {
  font-size: 20px;
  position: absolute;
  text-decoration: underline;
  color: white;
  bottom: 50px;
  left: 48px;
  padding: 5px;
  box-sizing: border-box;
}


.art3_rbox_sub_group {
  display: flex;
  margin-top: -1px;
}


.art3_rbox_group {
  display: flex;
  flex-direction: column;
}

.art3_rbox2 {
  display: flex;
  margin-top: -1px;
}


.art3_rbox3 {
  position: relative;
}

.art3_rbox3 span a {
  font-size: 20px;
  position: absolute;
  text-decoration: underline;
  color: #111111;
  bottom: 350px;
  left: 31px;
  padding: 5px;
  box-sizing: border-box;
}

.art3_lbox2 {
  overflow: hidden;
}

.art3_lbox2 img {
  transition: .3s;
}


.art3_lbox2 img:hover {
  transform: scale(1.05);
}

.art3_rbox2,
.art3_rbox1 {
  overflow: hidden;
}

.art3_rbox2 img,
.art3_rbox1 img {
  transition: .3s;
}


.art3_rbox2 img:hover,
.art3_rbox1 img:hover {
  transform: scale(1.05);
}

/* art3 끝 */



/* footer 시작 */

footer {
  width: 1200px;
  position: relative;
  margin-top: 50px;
  height: 300px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer .footer_nav ul {
  position: absolute;
  left: 370px;
  top: 40px;
}

footer .footer_nav li {
  display: inline-block;
  margin-right: 50px;
  font-size: 16px;
}

footer .footer_nav ul li a {
  text-decoration: none;
  color: #111111;
}

footer ul li:last-child a {
  color: #EE4955;
}



.line {
  display: block;
  content: "";
  height: 5px;
  background-color: #DEDEDE;
  position: absolute;
  top: 85px;
}


.footer_text {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 360px;
  font-size: 14px;
}


.footer_text ul {
  margin-left: 75px;
}

.footer_text ul li {
  margin: 20px 0;
}

.up {
  position: absolute;
  right: 430px;
  top: 200px;
}

/* footer 끝 */