@font-face {
  font-family: 'HangeulNuri-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.inner {
  font-size: 18px;
  font-family: 'HangeulNuri-Bold';
  font-weight: lighter;
  width: 1200px;
  margin: 0 auto;
  color: #111111;

}

.wrap {
  font-size: 18px;
  font-weight: normal;

  font-family: 'HangeulNuri-Bold';
  width: 1900px;
  margin: 0 auto;
}

/* 헤더 시작 */

header {
  left: calc(50% - 600px);
  position: fixed;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

nav {
  transform: translateY(10px);
}

nav ul {}

nav ul li {
  display: inline-block;
  margin-left: 80px;
}

nav ul li a {
  text-decoration: none;
  color: #222222;
}

/* 헤더 끝 */

/* main 시작 */

.main {
  position: relative;
  height: 880px;
  background: url(../image/main_image.png);
}

.main .obj {
  position: absolute;
  left: calc(50% - 3px);
  bottom: 58px;
  animation-name: scrolling;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes scrolling {
  from {}

  to {
    transform: translateY(10px);
  }
}

.main .text_group {
  display: flex;
  width: 313px;
  justify-content: space-between;
  position: absolute;
  bottom: 305px;
  left: 380px;
}

.main .text_group a {
  text-decoration: none;
  color: #08468A;
  padding-bottom: 3px;
  border-bottom: 2px solid #FCFCFC;
  transition: .3s;
}

.main .text_group a:hover {
  border-bottom: 2px solid #08468A;
}

.main .text_group .left {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.main .text_group .right {
  display: flex;
  width: 175px;
  justify-content: space-between;
}

.main .text_group .left .icon {
  width: 21px;
  height: 21px;
  background: url(../image/schedule_icon.png);
}

.main .text_group .left:hover>.icon {
  width: 21px;
  height: 21px;
  background: url(../image/schedule_ficon.png);
}

.main .text_group .right .icon {
  width: 21px;
  height: 21px;
  background: url(../image/info_icon.png);
}

.main .text_group .right:hover>.icon {
  width: 21px;
  height: 21px;
  background: url(../image/info_ficon.png);
}



/* main 끝 */


/* art1시작 */


.art1 {
  position: relative;
  height: 1200px;
  background: url(../image/art1_bgimg.png);
}

.art1 .cloud {

  position: absolute;
  top: 192px;
  left: 802px;
  animation-name: moving;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes moving {
  from {}

  to {
    transform: translateY(10px);
  }
}


.art1 .obj1 {
  position: absolute;
  left: 328px;
  top: 260px;
  opacity: 0;
}

.art1:hover>.obj1 {
  animation-name: obj1;
  animation-duration: 1.5s;
  animation-iteration-count: inherit;
  opacity: 1;
}

@keyframes obj1 {
  from {
    opacity: 0;
    left: 278px;
  }

  to {
    opacity: 1;
  }
}

.art1 .obj2 {
  position: absolute;
  left: 674px;
  bottom: 98px;
  opacity: 0;
}

.art1:hover>.obj2 {
  animation-name: obj2;
  animation-duration: 2.2s;
  animation-iteration-count: inherit;
  opacity: 1;
}

@keyframes obj2 {
  from {
    opacity: 0;
    left: 624px;
  }

  to {
    opacity: 1;
  }
}


.art1 .obj3 {
  position: absolute;
  right: 350px;
  top: 552px;
  opacity: 0;
}

.art1:hover>.obj3 {
  animation-name: obj3;
  animation-duration: 1.8s;
  animation-iteration-count: inherit;
  opacity: 1;
}

@keyframes obj3 {
  from {
    opacity: 0;
    right: 310px;
  }

  to {
    opacity: 1;
  }
}


/* art1끝 */

/* art2시작 */


.art2 {
  height: 870px;
  background: url(../image/art2_bgimg.png);
  position: relative;
}

.art2 .sub_text {
  height: 100px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 392px;
  right: 377px;
}

.art2 .over,
.art2 .under {
  display: flex;
  cursor: pointer;
}

.art2 .over .text,
.art2 .under .text {
  margin-left: 20px;
  transform: translateY(13px);
  margin-bottom: 40px;
}


.art2 .sub_text a {
  text-decoration: none;
  color: white;
}

.art2 .over .arrow,
.art2 .under .arrow {
  margin-left: 20px;
  box-sizing: border-box;
  transform: translateY(11px);
  width: 24px;
  height: 24px;
  background: url(../image/art2_arrow_icon.png);
}

.art2 .over:hover>a .arrow,
.art2 .under:hover>a .arrow {
  background: url(../image/art2_arrow_ficon.png);

}

.art2 .radio_group {
  font-size: 18px;
  color: white;
}

.art2 .radio_group label {
  display: block;
  margin-bottom: 36px;
  transform: translateX(1119px) translateY(514px);
  cursor: pointer;
  opacity: .3;
}

.art2 .circle1 {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 14px;
  right: 640px;
  bottom: 341px;
  display: none;
  transition: .3s;
  opacity: 0;
}

.art2 .circle2 {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 14px;
  right: 640px;
  bottom: 286px;
  display: none;
  opacity: 0;
  transition: .3s;

}

.art2 .circle3 {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 14px;
  right: 640px;
  bottom: 232px;
  display: none;
  opacity: 0;
  transition: .3s;

}


.art2 input {
  display: none;
}

.art2 .radio_group .img_box {
  display: none;
  position: absolute;
  left: 234px;
  bottom: 221px;
}

.art2 .radio_group #tap1:checked~.img_box {
  display: block;
  background: url(../image/art3_img1.png) no-repeat;
  width: 780px;
  height: 529px;
}

.art2 .radio_group #tap1:checked~ .lab1 ,
.art2 .radio_group #tap2:checked~ .lab2 ,
.art2 .radio_group #tap3:checked~ .lab3 {
  opacity: 1;
}


.art2 .radio_group #tap1:checked~.circle1 ,
.art2 .radio_group #tap2:checked~.circle2 ,
.art2 .radio_group #tap3:checked~.circle3 {
  display: block;
  background-color: white;
  opacity: 1;
}

.art2 .radio_group #tap2:checked~.img_box {
  display: block;
  background: url(../image/art3_img2.png) no-repeat;
  width: 780px;
  height: 529px;
}

.art2 .radio_group #tap3:checked~.img_box {
  display: block;
  background: url(../image/art3_img3.png) no-repeat;
  width: 780px;
  height: 529px;
}






/* art2끝 */
.main,
.art1 {
  /* display: none; */
}