/* 폰트 정리 */

/* 에스코어 4 레귤러 */
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 에스코어 5 미들 */
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 에스코어 6 볼드 */
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 폰트 종료 */

/* 공통부분 */

/* 

색깔 # 

파란색 1A53A4 

흑색 #434343 

*/

* {}

.title_b {
  text-align: center;
  display: block;
  margin-top: 100px;
  font-family: 'S-CoreDream-9Black';
  font-size: 60px;
  color: #1A53A4;
  margin-bottom: 30px;
}

.title {
  font-family: 'S-CoreDream-4Regular';
  font-size: 60px;
}

.title_sub {
  font-size: 18px;
  font-family: 'S-CoreDream-6Bold';
  color: #81797A;
  margin-top: 40px;
}

.inner {
  font-family: 'S-CoreDream-5Medium';
  font-size: 18px;
  width: 1200px;
  margin: 0 auto;
}

.wrap {
  font-family: 'S-CoreDream-5Medium';
  width: 1900px;
  margin: 0 auto;
}


a {
  text-decoration: none;
  color: #434343;
}

/* 헤더 시작 */

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .header_nav {}

header .header_nav ul {
  position: absolute;
  right: 30px;
}

header .header_nav ul li {
  display: inline-block;
  margin-left: 60px;
  position: relative;

}

header .header_nav ul li:not(:last-child):after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 16px;
  background-color: gray;
  left: 87px;
  top: 1px;

}

header .header_nav ul a {
  text-decoration: none;
  color: #434343;
}

/* 헤더 끝 */


/* 네비 시작 */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #1A53A4;
  position: relative;
}

nav ul {}

nav ul li {
  display: inline-block;
  margin-left: 118px;
  position: relative;
}

nav ul li:first-child {
  margin-left: 0;
}


nav ul li a {
  font-family: 'S-CoreDream-5Medium';
  font-size: 18px;
  color: white;
}

nav ul li:not(:last-child):after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 16px;
  background-color: white;
  left: 130px;
  top: 1px;
}

.nav_search {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 40px;
}

.nav_search img {
  margin-left: 20px;
}


nav input {
  width: 240px;
  border-radius: 5px;
  border-style: none;
}



/* 네비 끝 */

/* 메인 시작 */

.main {
  position: relative;
}

.main .btn {
  position: absolute;
  left: calc(50% - 148px);
  bottom: 76.5px;
}


.gline {}

/* 메인 비디오 자리 */

.main .video {
  position: absolute;
  left: calc(50% - 390px);
  bottom: 294px;
  display: flex;
  width: 780px;
  justify-content: space-between;
}

.main .video .video_left {
  width: 350px;
  height: 200px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main .video .video_left .video_left_box {
  font-size: 32px;
}

.main .video .video_right {
  width: 350px;
  height: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .video .video_right .video_right_box {
  font-size: 32px;

}


/* 메인 끝 */
/* art1 시작 */

.art1 {
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.art1 img {
  margin-top: 70px;
  padding-bottom: 120px;
}

/* art1 끝 */

/* art2 시작 */

.art2 {
  background-color: #F8F8F8;
  height: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.art2 .container {
  display: flex;
}

/* art2박스 1 */

.art2_box1,
.art2_box2,
.art2_box3 {
  position: relative;
}

.art2_box1 .art2_box1_group ,
.art2_box2 .art2_box2_group ,
.art2_box3 .art2_box3_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 38px;
  left: 22px;

}

.art2_box1 .art2_box1_group ul {}

.art2_box1 .art2_box1_group ul li, 
.art2_box2 .art2_box2_group ul li, 
.art2_box3 .art2_box3_group ul li 
{
  font-size: 12px;
  margin-bottom: 30px;
}

.art2_box1 .art2_box1_group ul li:last-child ,
.art2_box2 .art2_box2_group ul li:last-child ,
.art2_box3 .art2_box3_group ul li:last-child  {
  margin-bottom: 20px;

}


.btn_blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 42px;
  background-color: #1B54A5;
}

.btn_blue {
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

/* art2 끝 */